<!doctype html>
<html>
<head>
<title></title>
<!-- Created with an unregistered copy of Dynamic HTML WYSIWYG Editor -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="http://gcv4.s3.amazonaws.com/files/style/money_amount.css">

</head>
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" alink="#FF0000" vlink="#800080">
<div id="ldheLabel1" style="position: absolute; left: 5px; top: 5px; width: 136px; height: 18px; text-align: justify;" align="left">
<span class="trebuchetms100FFFFFFt">{{message}}</span></div>
<form id="Form1" name="Form1" style="position: absolute; left: 5px; top: 25px;" action="/index/inv/amount:take/{{id}}/" method="post">
        <div id="ldheText1" style="position: absolute; left: 80px; top: 5px;" align="left">
        <input type="text" id="amount" name="amount" style="width: 56px; height: 21px;" autocomplete="off" value="{{orns}}" maxlength="255"></div>
        <div id="ldheLabel3" style="position: absolute; left: 30px; top: 5px; width: 35px; height: 18px; text-align: justify;" align="left">
        <span class="trebuchetms100FFFFFFt">Choose: </span></div>
        <div id="ldheok" style="position: absolute; left: 65px; top: 30px;" align="left">
        <input type="submit" id="ok" name="ok" onclick="parent.action='place';"style="width: 106px; height: 21px;" class="btn" value="OK"></div>
</form>
</body>
</html>
