<!doctype html>
<html>
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">

<style>

option{
  font-weight: bold;
  color: #9a3000;
}

optgroup{
  font-size: 12px;
  font-weight: normal;
}

</style>

<script language="javascript" type="text/javascript">
<!--
var isNS=document.layers?true:false;
var isIE=(document.all!=null)||(navigator.userAgent.indexOf('MSIE')!=-1);
var isDom2=document.getElementById;
var fVers=parseFloat(navigator.appVersion);
if (!isDom2 && ((isNS && fVers<4)||(isIE && fVers<4)))
    alert("Your browser is very old. Please upgrade it if you want to see this page correctly.");

//-->

var selected = "";
</script>
<script language="javascript" type="text/javascript" src="http://gcv4.s3.amazonaws.com/files/script/npcinter.js"></script>
<script language="javascript" type="text/javascript" src="http://gcv4.s3.amazonaws.com/files/script/prototype.js"></script>

<title>Smithing</title>

</head>
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" alink="#FF0000" vlink="#800080">
<div id="wb_Form2" style="position:absolute;background-color:#F7F9FC;left:10px;top:20px;width:360px;height:210px;z-index:13">
<span style="position:absolute;top:-5px;color:#45a5f0;font-family:Verdana;font-size:12px;">{{msg}}</span>
<form name="Form2" method="post" action="/index/bench/action/" id="Form2">
    <div style="position:absolute;left:3px;top:18px;width:350px;height:160px;border:1px #C0C0C0 solid;z-index:2">
        <select id="inventory" name="inventory" multiple size="11"  style="position:absolute;left:0px;top:0px;width:100%;height:100%;border-width:0px;font-family:Courier New;font-size:13px;">
            {%for item in blueprints%}
				<option value="{{item.id}}" onclick="document.getElementById('preimg').src='/index/files/item/{{item.blueprint.item.name}}.gif';document.getElementById('prename').innerHTML='Name: {{item.blueprint.item.name}}';if('{{item.blueprint.item.category}}'=='blade')document.getElementById('prepow').innerHTML='Damage: {{item.blueprint.item.power}}';elsedocument.getElementById('prepow').innerHTML='Strength: {{item.blueprint.item.power}}';">{{item.get_name}}</option>:
                {% for k,v in item.blueprint.get_materials%}
                    {% if k != "null" and  k != "result" %}
                        <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└{{v}}x {{k}}"></optgroup>
                    {%endif%}
                    {% if k == "result" %}
                        <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;={{v}}x {{item.blueprint.item.name}}"></optgroup>
                    {%endif%}
                {%endfor%}
            {%empty%}
                <option value="-1" disabled>Empty</option>
            {%endfor%}
        </select>
    </div>
    
    <div style="position:absolute;left:380px;top:0px;width:190px;height:205px;border:1px #C0C0C0 solid;word-wrap: nobreak;font-family:Verdana;font-size:12px;">
        <span style="position:absolute;left:2px;top:0px;font-weight:bold;">Result:</span>
        <img style="position:absolute;left:76px;top:20px;width:32px;height:32px;border:1px #C0C0C0 solid;" id="preimg" src="/index/files/item/blank.gif"></img>
        <span style="position:absolute;left:9px;top:60px;" id="prename"></span>
        <span style="position:absolute;left:9px;top:76px;" id="prepow"></span>
    </div>
    
    <input type="submit" id="benjamin" name="benjamin" value="Craft" style="position:absolute;left:3px;top:180px;width:50px;height:25px;font-family:Arial;font-size:11px;z-index:4"></input> 
    <input type="submit" id="benjamin" name="benjamin" value="Close" style="position:absolute;left:315px;top:180px;width:40px;height:25px;font-family:Arial;font-size:11px;z-index:5"></input>
    
</form>
</div>
</body>
</html>

